<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Sample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
